New folder/index - Copy.html
New folder/index (2).html
New folder/index.html
New folder/script - Copy (2).js
New folder/script - Copy.js
New folder/script (2).js
New folder/script.js
New folder/style (2).css
New folder/style.css
